<div class="page-header" id="banner">
  <h1>London Decompression Membership</h1>
</div>

<hr />

<div class="row">
  <div class="col-6">
    <%= link_to "Register", new_member_path, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
  <div class="col-6">
    <%= link_to "Check your membership", find_members_path, class: 'btn btn-primary btn-lg btn-block' %>
  </div>
</div>

<hr />

<h4>1. Why do I need to be a member?</h4>
<p>You want to take part in events and meetings organised by London Decompression Ltd. This includes
buying tickets for London Decompression. Only members can buy tickets.</p>

<h4>2. What do I have to commit to?</h4>
<p>In order to become a member of London Decompression, we need only two things, a name and an
email address. You must also agree that you prepared to take into consideration the principles of
Burning Man and that you agree to participate in the wider burning man community. Membership is
free - of course!</p>

<h4>3. How do I become a member of London Decompression?</h4>
<p><%= link_to "Click here to join", new_member_path %></p>

<h4>4. How do I check to see if I am a member of London Decompression?</h4>
<p><%= link_to "Click here to check" %>.</p>

<h4>5. How do I retrieve my existing membership number?</h4>
<p><%= link_to "Click here to check" %>.</p>

<h4>6. Do I need to renew membership?</h4>
<p>All memberships lapse at the end of March each year. We will email you to remind you to take out a
new membership for the next year, which will be available from the start of April onwards.</p>

<h4>7. How do I cancel membership?</h4>
<p>Remember that your membership will automatically lapse in March each so there is no need to do
anything generally. However if you wish to cancel your membership before the end of March, we need
your membership number. If you don’t have this please retrieve it by using the answer to question 5
above. Then email members@londondecom.org with that information and ask for your membership to
be cancelled.</p>

<h4>8. Want to know all about London Decompression events and ticket sales?</h4>
<p>Go tolondondecompression.org</p>

<h4>9. Want the FAQs for London Decompression&#39;s members or those interested or wishing to join?</h4>
<p>Go here [London Decom FAQ v3.pdf]</p>

<h4>10. Not covered by any of the above?</h4>
<p>You can contact the membership team at LondonDecompression by emailing
members@londondecom.org for any membership queries not covered above. Please note replies may
take several days as this is a volunteer organisation. Queries about events, sales of tickets,
administration or volunteering should be addressed to info@londondecom.org. More information for
all the above can be found at londondecompression.org</p>
